       body{
            background: #f2f6ff;
        }
        form {
            margin-bottom: 3px;
            text-align: center;
            border: 1px solid #ccc;
        }
        #header {
            background: white;
            font-size: 32px;
            padding-top: 56px;
            Padding-Bottom: 32px;
            margin-top: 0;
            margin-bottom: 0;
        }
        .social-icon {
            height: 50px;
            width: 50px;
            Padding-Top: 16px;
            Padding-Bottom: 16px;
            Padding-left: 32px;
            Padding-right: 32px;
        }
        .form-group {
            Padding-Top: 80px;
            Padding-Bottom: 40px;
            Padding-left: 80px;
            Padding-right: 80px;
            background: white;
        }
        .form-group input {
            font-size: 14px;
            Padding-bottom: 12px;
            margin-bottom: 36px;
            border-left: 0;
            border-top: 0;
            border-right: 0;
            border-bottom: 1px solid #ccc;
        }
        .Register {
            margin-top: 0;
            Padding-Bottom: 50px;
            background: white;
        }
        button {
            background: #0056ff;
            Padding-Top: 12px;
            Padding-Bottom: 12px;
            Padding-left: 24px;
            Padding-right: 24px;
            font-size: 14px;
            Color: white;
            border: None;
        }
        footer {
            margin: 0;
            background: black;
        }
        .copywrite {
            Padding-left: 2px;
            Padding-Top: 10px;
            Padding-Bottom: 10px;
            font: 12px normal arial;
            color: white;
            line-height: 15px;
        }
